<div class="text-left">
  <span>
    <strong> Actual Street Address or FedEx/UPS deliveries: </strong>
University of California, San Diego <br/>
San Diego Supercomputer Center, MC, 0505<br/>
10100 Hopkins Drive<br/>
La Jolla, CA 92093-0505<br/>
  </span>
  <span>
    <strong>For Regular Mail Delivery:</strong>
University of California, San Diego<br/>
San Diego Supercomputer Center<br/>
9500 Gilman Drive, MC 0505<br/>
La Jolla, CA 92093-0505<br/>
  </span>
  <p>&nbsp;</p><br/>
  <span>
    <strong>Email</strong>
    <br>
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
  </span>
</div>
